@CHARSET "UTF-8";
html {
	/* background: #F0F0F0; */
	background: url(images/diagraming/htmlbg.png) repeat;
}
body{
	margin:0px; padding:0px;
	font-size:13px;
	color:#333;
	/* background:#F2F2F2; */
	font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
input,textarea,div{
	resize:none;outline:none;font-size:13px;
	font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.fileset{
	border:1px solid #d3d2d1;
	border-radius:5px;
}

ul{
	margin:0px;
	padding:0px;
	list-style:none;
}

a{
	font-size:13px;
	text-decoration:none;
	color: #4183C4;
	cursor: pointer;
}
a:hover, a:active {
	text-decoration: underline;
}
.badge.notification_badge{
	display: none;
}
img:-moz-broken{ 
	-moz-force-broken-image-icon:1; 
	border: 0px;
}
.transition_0_2{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.center{
	margin:0px auto;
}
.main{
	margin-top:15px;
	background-color:#ffffff;
	width:960px;
	-moz-box-shadow:0px 1px 4px #DCDCDC;
	-ms-box-shadow:0px 1px 4px #DCDCDC;
	-o-box-shadow:0px 1px 4px #DCDCDC;
	box-shadow:0px 1px 4px #DCDCDC;
	min-height:600px;
}
/*输入框*/
.txt{
	border:1px solid #D9D9D9;border-top: 1px solid silver;
	padding:5px;width:180px; background-color:#FFFFFF;
	border-radius:2px;
}
.txt:hover{
	border:1px solid #B8B8B8;border-top: 1px solid #A1A1A1;
}
.txt:focus{
	border:1px solid #3da2ea;
	box-shadow:inset 0px 1px 2px rgba(0,0,0,0.2);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

/*disable*/
.disabled-mask{
	position:absolute;z-index:102;background:white;
	opacity:0; filter:alpha(opacity=0);
}

/**
 * 登录窗口
 */
.loginWindow{
	border-radius:5px;background:#ffffff;width:500px;height:310px;position:fixed;z-index:99999999999 !important;
	box-shadow: 0 0 10px #25292B;
}
.loginWindow-content{
	width:500px;height:300px;
}

.window-mask{
	background:#FFFFFF;position:fixed;width:1000px;top:0px;left:0px;opacity:0.6; filter:alpha(opacity=60);
	z-index:2;
}

.opacity{
	opacity:0.5; filter:alpha(opacity=50) !important;
	cursor:default;
}
.clear{
	clear:both;
}
.radius6{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}
.radius5{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.radius3{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.radius2{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
.noover{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.br{
	word-break: break-all; word-wrap: break-word;
}
.shadow_1{
	-ms-box-shadow: 0 2px 4px rgba(0,0,0,.2);
	-o-box-shadow: 0 2px 4px rgba(0,0,0,.2);
	-moz-box-shadow: -1px 1px 1px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
	box-shadow: 0 2px 4px rgba(0,0,0,.2);
	border: 1px solid #BEBEBE;
	background: #FFF;
}
.shadow_2{
	box-shadow: 0 1px 3px rgba(34,25,25,0.3);
	-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.3);
	-webkit-box-shadow: 0 1px 3px rgba(25,25,25,0.3);
	-ms-box-shadow: 0 1px 3px rgba(25,25,25,0.3);
	-khtml-box-shadow: 0 1px 3px rgba(25,25,25,0.3);
}
.text_shadow1{
	text-shadow: 1px 1px 1px white;
	-moz-text-shadow: 1px 1px 1px white;
	-web-kittext-shadow: 1px 1px 1px white;
	-ms-boxtext-shadow: 1px 1px 1px white;
	-khtml-text-shadow: 1px 1px 1px white;
}
.close_icon{
	float: right;
	background: transparent url(images/common.png) 2px -98px no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	cursor: pointer;
}
.no_select{
   -moz-user-select: none;
   -webkit-user-select: none; 
   -ms-user-select: none; 
   -khtml-user-select: none;
}
.label, .badge{
	display: inline-block;
	font-weight: bold;
	line-height: 14px;
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	background-color: #999;
}
.label{
	padding: 2px 4px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.label.success{
	background-color: #468847;
}
.label.warning{
	background-color: #F89406;
}
.label.important{
	background-color: #B94A48;
}
.label.info{
	background-color: #3A87AD;
}
.label.info1{
	background-color: lightblue;
}
.label.inverse{
	background-color: #333;
}
.badge{
	padding: 2px 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}
.badge.success{
	background-color: #468847;
}
.badge.warning{
	background-color: #F89406;
}
.badge.important{
	background-color: #B94A48;
}
.badge.info{
	background-color: #3A87AD;
}
.badge.inverse{
	background-color: #333;
}
.nav_tabs{
	border-bottom: 1px solid #DDD;
}
.nav_tabs a{
	font-size: 14px;
	margin: 0px 2px -1px 0px;
	display: inline-block;
	padding: 8px 12px;
	border: 1px solid transparent;
	border-bottom-color: #DDD;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.nav_tabs a:hover{
	text-decoration: none;
	background-color: #EEE;
	color: #005580;
}
.nav_tabs .active{
	color: #555;
	cursor: default;
	background-color: white;
	border: 1px solid #DDD;
	border-bottom-color: transparent;
}
.nav_tabs .active:hover{
	background-color: white;
	color: #555;
}
.alert{
	color: #C09853;
	padding: 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.alert.error{
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
}
.alert.success{
	color: #468847;
	background-color: #DFF0D8;
	border-color: #D6E9C6;
}
.alert.info{
	color: #3A87AD;
	background-color: #D9EDF7;
	border-color: #BCE8F1;
}
.drop{
	display:inline-block; width:10px;height:10px;
	background:url(images/common.png) right center no-repeat;
	background-position:-2px -151px;
	margin-left: 2px;
}

/********************Header Styles*****************/
#header {
	height: 38px;
	font-size: 16px;
	color: white;
	width: 100%;
	position:fixed;z-index:2;
	top:0px;
	/* background: url(images/header/header_bg.png) repeat-x;
	background-color:#333; 
	background: #34313b;*/
	background:#4a4949;
	-webkit-transition: height .3s ease-in-out;
	  -o-transition: height .3s ease-in-out;
	  -moz-transition: height .3s ease-in-out;
	  transition: height .3s ease-in-out;
	/* -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5); */
}
#header_nav{
	/* width:960px; */height:38px;margin:0px auto;
	height: 38px; line-height: 38px;
	width: auto; margin-left: 10px;margin-right: 10px;
}
.header_nav_items{
	float:left; height: 38px;
}
#header_nav .logo:hover{
	text-decoration: none;
}
#header_nav .logo img{
	vertical-align: middle;border:none;margin-top: 5px;
}
.header_nav_items a{
	float:left;
	display:inline-block;
	height: 38px; line-height: 38px;
}
.header_nav_items .nav{
	color:#fff;font-size:13px;
	margin-left: 2px;
	padding: 0px 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	margin-left: 10px;
}
#header_nav .nav:hover,#header_nav .nav.current{
	background-color:#000;
	text-decoration:none;
}
#header_nav .header-user{
	float:right; color:#fff;
	cursor:pointer; padding:0px 8px;
}
#header_nav .header-user img{
	margin-top:-4px;
}
#header_nav .header-user:hover{
	/* background: #717171; */
}
#header_nav .header-user.droped{
	/* background: #717171; */
}
#header_nav .header-user .drop{
	background: url(images/common.png) -16px -177px no-repeat;
	width:12px; height:13px; display:inline-block;
}
#header_nav .header-user .login{
	color:#FFFFFF;
	padding:3px 10px;
}
#header_nav .header-user .login:hover{
	text-decoration: none;
}
#header_nav .header-op{
	/* float: right;
	margin-right:5px;
	margin-top: 6px;
	height: 25px; line-height: 25px;
	padding: 0px 8px;	
	background:#e6e6e6 url(images/bg_repeat.png) repeat-x;
	box-shadow:1px 1px 1px #3A87AD;
	background-color: #227fdf;
	background-position: 0px -150px; */
	
	
	float: right;
	margin-right:5px;
	margin-top: 6px;
	height: 25px; line-height: 25px;
	border: 0px;
	padding: 0px 10px;
	text-align: center;
	background-color: #2EB5E5;
	background-image: -moz-linear-gradient(top, #34C0E9, #29AAE1);
	background-image: -webkit-linear-gradient(top, #34C0E9, #29AAE1);
	background-image: -o-linear-gradient(top, #34C0E9, #29AAE1);
	background-image: -ms-linear-gradient(top, #34C0E9, #29AAE1);
	background-image: linear-gradient(top, #34C0E9, #29AAE1);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34c0e9', endColorstr='#29aae1',GradientType=0 );
	color: white;
	cursor: pointer;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	min-width: 50px;
}

#header_nav .header-op a{
  color:#fff;
  font-weight: normal;
}
#header_nav .header-op span{
	margin: 0px 2px;
}

#header_nav .photo{
	display:block;
	padding:2px 6px;height:20px;width:20px;
}

#header_user_menu{
	top:36px !important;
}
#header_user_menu a{
	display:block;font-size:13px;
}
#header_nav .badge{
	float: right;margin: 4px 5px 0px 0px;
}
#p-bottom{
	clear:both;
	margin-top:5px;
	height:25px;
	line-height:25px;
	text-align:center;
	padding-bottom:30px;
	padding-top:10px;
}
#p-bottom li{
	display:inline;
}
#p-bottom a{
	margin:0px 5px;
}

/********************Plugs Styles******************/
.popmenu{
	padding: 5px 0px;background: #ffffff;display:none;
}
.popmenu a{
	 color: #333;
}
.popmenu li{
	padding: 0px 20px; line-height: 30px; cursor: pointer;
}
.popmenu li:hover{
	color: white;
	/* background-color:#4183C4;
	background-image: -moz-linear-gradient(top, #08C, #0077B3);
	background-image: -webkit-linear-gradient(top, #08C, #0077B3);
	background-image: -o-linear-gradient(top, #08C, #0077B3);
	background-image: linear-gradient(to bottom, #08C, #0077B3); */
	background-color: #2EB5E5;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
	background-repeat: repeat-x;
}
.popmenu li:hover a{
	text-decoration: none;
	color: white;
}
.popmenu li.split{
	height: 1px;
	margin: 9px 1px;
	overflow: hidden;
	background-color: #E5E5E5;
	border-bottom: 1px solid white;
}
.popmenu li.split:hover{
	background-color:#E5E5E5;
	background-image: none;
}

/*Dialog*/
.dialog_box{
	position:fixed;
	z-index:3;
	background-color: white;
	border: 1px solid #C0C2C4;
	padding: 20px;
	display: inline-block;
	color: #5B636B;
	-moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
	-o-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
	-ms-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
	box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
}

.dialog_close{
	background:transparent url(images/common-16.png) 0px -16px no-repeat;position:absolute;top:15px;right:15px;width:16px;height:16px;cursor:pointer;
	display:none;
}
.dialog_close:hover{
	background-position: 0px -32px;
}
.dialog_title{
	text-align: left;
	cursor:move;
	font-size: 24px;
	line-height: 26px;
	color: #5B636B;
	margin:0px 20px 20px 0px;
	font-weight: 200;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	-o-user-select: none; 
	user-select: none;
}

/**菜单*/
.popover {
	position: absolute;
	width:auto;
}
.popover .arrow {
	background: url('/images/v4/common-32.png?19332') no-repeat;
	width: 32px;
	height: 32px;
	overflow: hidden;
	display: block;
	position: absolute;
	top: -32px;
	left: 70px;
	width: 32px;
	height: 32px;
	z-index: 2000;
}

#hover_tip{
	position: absolute;  z-index:100000000000;
	max-width: 250px;color: #fff;
}
#hover_tip .tip_arrow{
	height: 6px;
	background: url(images/common-16.png) center 0px no-repeat;
}
#hover_tip .tip_arrow.tip_right{
	left: -6px;
	top: 5px;
	width: 6px;
	height: 15px;
	position: absolute;
	background-position: -2px 0px;
}
#hover_tip .tip_arrow.tip_top{
	bottom: -6px;
	width: 100%;
	position: absolute;
	background-position: center -8px;
}
#hover_tip .tip_content{
	padding: 5px 8px; font-size:12px;
	background: #333;
	background: rgba(50,50,50,.95);
	word-wrap: break-word;
	word-break: normal;
}

/**简短提示*/
.simplealert{
	position:absolute; z-index:100000000001; height:54px;left:18px; top:15px;display:none;
}
.simplealert div{
	position:relative; height:54px;float:left;
}
.simplealert .simplealert-icon-ok{
	width:45px;background:transparent url(images/icons/simplealert-bg.png) -5px 0px no-repeat;
}
.simplealert .simplealert-icon-info{
	width:45px;background:transparent url(images/icons/simplealert-bg.png) -5px -54px no-repeat;
}
.simplealert .simplealert-icon-error{
	width:45px;background:transparent url(images/icons/simplealert-bg.png) -5px -108px no-repeat;
}
.simplealert .simplealert-icon-loading{
	width:45px;background:transparent url(images/icons/simplealert-bg.png) -5px -216px no-repeat;
}
.simplealert .simplealert-msg{
	line-height:54px;padding:0px 10px 0px 10px;
	font-weight: bold;font-size: 14px;color: #606060;font-family:Arial, Helvetica, sans-serif;
	background:transparent url(images/icons/simplealert-bg.png) 0px -161px repeat-x;
}
.simplealert .simplealert-right{
	width:5px;background:transparent url(images/icons/simplealert-bg.png) no-repeat;
}

#global_confirm_window .msg{
	max-width: 450px;
	min-width: 250px;
}
#global_confirm_window .buttons{
	padding:30px 0px 0px;
	text-align:right;
}

#p_toolTip{
	display:none;font-size:12px;color:#666; max-width:280px;text-align:left;
	border:1px solid #C9C9C9;
	background:#FFFFFF; padding:5px;
	position: absolute; line-height:160%;
	z-index: 100000000000;
	box-shadow: 4px 4px 8px #ccc;
	min-height: 24px;
}

.suggest_menu{
	border:1px solid #D9D9D9;border-top: 1px solid silver;
	box-shadow: 3px 4px 8px #ccc;
	background:white;
	display:none;
	list-style:none;
}
.suggest_menu .suggest_item{
	padding: 5px; cursor:pointer;
}
.suggest_menu .suggest_item:hover{
	background:#EEE;
}
.suggest_menu .selected{
	background:#EEE;
}

.placeholder-lbl{
	display:none;position:absolute; color:#C9C9C9;
	cursor: text; overflow:hidden;
}

.pagination{
	display: inline-block;
}
.pagination a{
	display: inline-block;
	float: left;
	padding: 0 14px;
	line-height: 38px;
	text-align: center;
	border-width: 1px 1px 1px 0px;
	border-style: solid;
	border-color: #ccc;
	font-size:14px;
	background-color: #FFF;
}
.pagination a:first-child{
	border-radius: 3px 0 0 3px;
	border-left: 1px solid #ccc;
}
.pagination a:last-child{
	border-radius: 0 3px 3px 0;
}
.pagination a:hover{
	background-color: whiteSmoke;
	text-decoration: none;
	color: #005580;
}
.pagination .disabled{
	background-color: whiteSmoke;
	color: #999;
	cursor: default;
}
.pagination .disabled:hover{
	color: #999;
}
.pagination .ellipsis{
	background-color: #FFF;
}
.pagination .ellipsis:hover{
	background-color: #FFF;
}

/**
Slider Styles
*/
.slider_nav{
	text-align: center; padding: 5px 0px;
}
.slider_nav span{
	display:inline-block; width: 10px; height: 10px; cursor: pointer; margin-right: 5px;
	background: url(images/icons/bullets.png); 
}
.slider_nav span.active{
	background: url(images/icons/bullets.png) 0px -10px;
}

/* these 4 lines are the most important with respect to styling the control */
.calendar{border:1px solid #aaa;background:#555;font-family:verdana;font-size:12px;}
.calendar table{color:#fff;}
.calendar table td.hover{background:#ffc;color:#444;}
.calendar .selected{border:1px dotted #999;}

.calendar{overflow:auto;width:250px;height:175px;position:absolute;line-height:1em;border-radius:5px;-moz-user-select:none;-webkit-user-select: none;-khtml-user-select: none;user-select: none;}
.calendar table{width:100%;height:100%;color:#fff;}
.calendar table td{padding:3px;text-align:center;cursor:pointer;border-radius:2px;}

/********************私信******************/
#private-message-win ::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
#private-message-win ::-webkit-scrollbar-thumb {
	border-width: 1px;
	border-style: solid;
	border-color: white;
	border-radius: 6px;
	background: #D7D7D7;
}
#private-message-win ::-webkit-scrollbar-track-piece {
	width: 11px;
	height: 11px;
}
#private-message-win{
	position:fixed;
	min-width:312px;
	bottom:0px;
	right:130px;
	z-index:20;
}
#private-message-win .message-box-wrap{
	padding:0px;
	margin:0px;
	height:389px;
	width:100%;
	position:relative;
	background:#fff;
	border: 1px solid #AFAFAF;
	display:block;
}
.message-box-wrap a{
	display: block;
	font-weight: bold;
	color: #666;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
	font-size: 13px;
	text-decoration: none;
	color: #4183C4;
	cursor: pointer;
	position:absolute;
	left:5px;
	top:-28px;
}
.message-box-wrap .img_shadow {
	display: block;
	position: absolute;
	width: 48px;
	height: 48px;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.message-box-wrap img {
	width: 48px;
	height: 48px;
	-webkit-box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 #fff;
	-o-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 white;
	margin-right: 5px;
	float: left;
	vertical-align: middle;
}
.message-box-wrap .name {
	height: 23px;
	line-height:23px;
	float:left;
	margin-top:28px;
	display: table-cell;
	vertical-align: middle;
}
.message-box-top{
	position:relative;
	width:100%;
	height:23px;
	top:0px;
	left:0px;
	
	background: #FAFAFA;
	background: -moz-linear-gradient(#FAFAFA, #E0E0E0);
	background: -webkit-linear-gradient(#FAFAFA, #E0E0E0);
	background: linear-gradient(#FAFAFA, #E0E0E0);
	filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#FAFAFA', 
	 endColorstr = '#E0E0E0' );
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#FAFAFA', 
	 endColorstr = '#E0E0E0' )";
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	display: block;
	border-bottom: 1px solid #CCC;
	text-decoration: none;
	color: #222;
	font-weight: bold;
	font-size: 12px;
	line-height: 23px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	border-left: 0 none;
}
.message-box-top span{
	display:block;
	width:16px;
	height:16px;
	position:absolute;
	background:#ddd;
	top:50%;
	margin-top:-8px;
}
.message-box-top .message-box-size{
	background:transparent url(./images/network/message-icons.png) no-repeat;
	background-position:0px 0px;
	right:30px;
	cursor: pointer;
}
.message-box-top .message-box-size:hover{
	background-position:0px -18px;
}
.message-box-top .message-box-remove{
	background: transparent url(images/common-16.png) 0px -16px no-repeat;
	position: absolute;
	right: 10px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.message-box-top .message-box-remove:hover{
	background-position: 0px -32px;
}
.float-left{
	float:left;
}
.message-box-wrap .message-mutlperson{
	position:relative;
	height:367px;
	width:104px;
	background: #F2F2F2;
	_overflow: hidden;
}
.message-mutlperson .mess-scrolltop_n, .message-mutlperson .mess-scrollbtn_n{
	width: 104px;
	height: 20px;
	display: block;
	position: relative;
	background: url(./images/network/message-box-icons.png) no-repeat;
}
.message-mutlperson .mess-scrolltop_n{
	background-position: -360px -60px;
	cursor:pointer;
}
.message-mutlperson .mess-scrollbtn_n{
	background-position: -465px -60px;
	cursor:pointer;
}
.message-mutlperson .mess-scrolltop_n:hover{
	background-position: -360px -40px;
}
.message-mutlperson .mess-scrollbtn_n:hover{
	background-position: -465px -40px;
}
.message-mutlperson .message-mutlperson-box{
	height: 320px;
	margin: 1px 0 4px;
	overflow: hidden;
	position: relative;
	border-right: solid 1px #C9C9C9;
}
.message-mutlperson .message-mutlperson-box .person-list{
	position: absolute;
	top: 0;
	width: 104px;
	min-height: 320px;
}
.message-mutlperson-box .person-list li{
	float: left;
	cursor: pointer;
	margin: 2px 0 0 0;
	display: inline;
	padding: 1px 1px 1px 2px;
	width: 99px;
	height: 28px;
	zoom: 1;
	overflow: hidden;
	position: relative;
	list-style: none;
	text-align: -webkit-match-parent;
}
.message-mutlperson-box .person-list li::after{
	content: "";
	display: block;
	overflow: hidden;
	height: 0;
	clear: both;
}
.person-list .person-active{
	background: white;
	width: 97px;
	border-top: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	z-index: 3;
	font-weight: bold;
}
.person-list li .list-head-state{
	margin: 7px 5px 0 0;
	float: left;
	position: relative;
}
.person-list .person-active .list-head-state .person-icon{
	background-position:-323px 0px;
}
.person-list li .list-head-state .person-icon{
	background: url(./images/network/message-box-icons.png) no-repeat;
	background-position:-258px 0px;
	width:14px;height:16px;
	/* background-color: #D4D4D4;
	border-color: #B8B8B8;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	 */
	
	display: inline-block;
	border-radius: 2px;
	overflow: hidden;
}
.person-list li .person-name{
	height: 30px;
	width: 70px;
	line-height: 30px;
	float: left;
	word-wrap: break-word;
	word-break: break-all;
	white-space: nowrap;
	overflow: hidden;
}
.person-list li .person-close{
	display: none;
	position: absolute;
	top: 10px;
	left: 90px;
	background: url(./images/network/message-box-icons.png) no-repeat;
	background-position:-111px -198px;
	width: 12px;
	height: 12px;
}
.person-list li:hover .person-close{
	display:block;
}
.person-list li .person-close:hover{
	background-position: -129px -198px;
}
.message-box-wrap .message-content-wrap{
	padding:0px;margin:0px;
	height:auto;
	width:312px;
}
.message-box-wrap .messages-content{
	height:210px;color: #777;
}
.message-box-wrap .messages-content .messages-list{
	height:210px;
	overflow-y:auto;
}
.messages-list *{
	padding:0px;
	margin:0px;
}
.messages-list dl{
	position:relative;
	webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
.messages-list dl dd{
	display: block;
	clear: both;
	-webkit-margin-start: 40px;
}
.messages-list .mb-msgl, .messages-content .mb_msg_g, .messages-content .mb_msg_err {
	float: left;
	margin-left: 5px;
	display: inline;
}
.messages-list .mb-msgr{
	float: right;
	margin-right: 5px;
	display: inline;
	position:relative;
}
.messages-list .mb-msgr, .messages-list .mb-msgl, .messages-content .mb_msg_g, .messages-content .mb_msg_err {
	max-width: 222px;
	margin-bottom: 1px;
}
.messages-content .wbim_msgpos {
	position: relative;
	margin: 10px 5px 0px;
}
.messages-content .msg_box {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 9px;
	
}
.messages-content .msg_arr {
	position: absolute;
	width: 8px;
	height: 12px;
	z-index: 1;
}
.messages-content .msg_arr{
	background: url(./images/network/message-box-icons.png) no-repeat;
}
.msg_box .msg_txt {
	max-width: 222px;
	line-height: 14px;
	word-wrap: break-word;
	word-break: break-all;
}
.msg_box p{
	display: block;
}
.messages-content .mb-msgl .msg_time, .messages-content .mb_msg_g .msg_time, .messages-content .mb_msg_err .msg_time {
	padding-left: 10px;
}
.wbim_msgpos .msg_time {
	padding-bottom: 1px;
}
.mb-msgl .msg_box {
	border: 1px solid #EAEAEA;
	background: #F3F3F3;
}
.mb-msgl .msg_arr {
	bottom: 10px;
	left: -5px;
	_left: -15px;
	background-position: -70px -16px;
}
.mb-msgr .msg_time {
	text-align: right;
	padding-right: 10px;
}
.mb-msgr .msg_box {
	border: 1px solid #DFF0D8;
	background: #EBFBE3;
}
.mb-msgr .msg_arr {
	bottom: 10px;
	right: -5px;
	background-position: -72px 0;
}
.messages-list .line{
	width: 100%;
	_width: 94%;
	height: 11px;
	overflow: hidden;
	margin: 0 auto;
	border-bottom:1px dotted #dedcdc;
}
.message-box-wrap .message-menus{
	min-height:25px;
	line-height:25px;
	background:#f3f3f3;
	margin-top:15px;
	position:relative;
	border-top:1px solid #f1f0f0;
	border-bottom:1px solid #f1f0f0;
}
.message-box-wrap .message-menus .upload_files_list_box{
	height:25px;
	line-height:25px;
	bottom:-28px;
	position:absolute;
	width:301px;cursor:pointer;
	display:none;
}
.upload_files_list_box .attachment{
	margin-left:15px;display:block;line-height:25px;position:relative;
	cursor:pointer;width:251px;height:25px;padding:0px;
}
.upload_files_list_box .attachment .att-title{
	display:inline-block;line-height:25px;position:relative;height:25px;margin:0px;float:left;
}
.upload_files_list_box .attachment .att-name{
	width:150px;display:inline-block;line-height:25px;height:25px;margin:0px;float:left;
	white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;
}
.upload_files_list_box .attachment .del-att-icon{
	position:absolute;
	display: none;
	top: 50%;
	margin-top:-6px;
	right: -20px;
	cursor:pointer;
	background: url(./images/network/message-box-icons.png) no-repeat;
	background-position:-111px -198px;
	width: 12px;
	height: 12px;
}
.upload_files_list_box .loading{
	position:absolute;
	display: inline-block;
	cursor:pointer;line-height:25px;height:25px;
	background: url(./images/network/upload_loading.gif) no-repeat;
	width: 16px;
	height: 16px;
	top:50%;margin-top:-8px;margin-left:20px;
}
.upload_files_list_box .loading-text{
	display: inline-block;cursor:pointer;line-height:25px;height:25px;
	position:relative;margin-left:50px;color:#c4bfbf;
}
.upload_files_list_box .attachment .del-att-icon:hover{
	background-position: -129px -198px;
}
.message-box-wrap .message-menus .upload_files_list_box:hover .del-att-icon{
	display: block;
}
.messages-list .att_r{
	float: right;
	margin-right: 5px;
	display: inline;
	position:relative;
}
.messages-list .sended-att{
	min-height:25px;
	line-height:25px;
	min-width:100px;
	cursor:pointer;
	display:block;
}
.messages-list .sended-att .down-t{
	display:inline-block;
	color:blue;
	text-decoration: underline;
}
.messages-list .att_l{
	float: left;
	margin-left: 5px;
	display: inline;
}
	
.message-box-wrap .message-menus .message-files{
	background: url(./images/network/message-box-icons.png) no-repeat;
	display:inline-block;
	background-position:-225px -51px;
	width:18px;height:16px;
	position:absolute;
	top:50%;margin-top:-6px;
	left:20px;color:#956a6a;
	cursor:pointer;
}
.message-box-wrap .message-menus .message-files .files-text{
	height:25px;background:none;
	line-height:25px;display:inline-block;
	width:130px;
	position:absolute;
	right:-135px;top:-6px;
}
.message-box-wrap .message-menus .message-record{
	background: url(./images/network/message-box-icons.png) no-repeat;
	display:inline-block;
	background-position:-255px -50px;
	width:20px;height:18px;
	position:absolute;
	top:50%;margin-top:-9px;
	right:100px;color:#956a6a;
	cursor:pointer;
}
.message-box-wrap .message-menus .message-record:hover{
	background-position:-287px -50px;
}
.message-box-wrap .message-menus .message-record .record-text{
	height:25px;background:none;display:inline-block;
	line-height:25px;
	width:130px;
	position:absolute;
	right:-135px;top:-4px;
}
.message-box-wrap .talking-box{
	height:87px;
}
.message-box-wrap .talking-box textarea{
	display:block;
	border:0px;
	margin:3px;
	height:86px;
	width:301px;
	background:#fff;
}
.message-box-wrap .chat_btn{
	background: #F3F3F3;
	height: 24px;
	_overflow: hidden;
	border-top: 1px solid lightGrey;
	position:relative;
}
.message-box-wrap .chat_btn .chat-com{
	line-height: 24px;
	color: #6a6a6a;
	margin-left:5px;
	display:inline-block;
}
.message-box-wrap .chat_btn .words_limit{
	line-height: 24px;
	color: #999;
	display:inline-block;
}
.message-box-wrap .chat_btn .button{
	line-height:20px;min-width: 30px;
	position:absolute;
	right:5px;top:50%;
	margin-top:-11px;
}
#private-message-win .message-min-box{
	position:fixed;
	width:232px;
	height:22px;
	bottom:0px;
	right:130px;
	z-index:20;
	border: 1px solid #AFAFAF;
	cursor: pointer;
	background: #FAFAFA;
	background: -moz-linear-gradient(#FAFAFA, #ebeaea);
	background: -webkit-linear-gradient(#FAFAFA, #ebeaea);
	background: linear-gradient(#FAFAFA, #ebeaea);
	filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#FAFAFA', 
	 endColorstr = '#ebeaea' );
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#FAFAFA', 
	 endColorstr = '#ebeaea' )";
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	-ms-border-radius: 3px 3px 0px 0px;
	-o-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}
#private-message-win .message-min-box .talk-icon{
	background:transparent url(./images/network/talk-icons.png) no-repeat;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	width: 16px;
	height: 16px;
	display:block;
	position: absolute;
	left: 5px;
	top:50%;
	margin-top:-8px;
	cursor: pointer;
}
#private-message-win .message-min-box .max-icon{
	background:transparent url(./images/network/message-icons.png) no-repeat;
	width: 16px;
	height: 16px;
	display:block;
	background-position:0px -36px;
	position: absolute;
	right: 10px;
	top:50%;
	margin-top:-8px;
	cursor: pointer;
	opacity:0.5;
	filter:alpha(opacity=50);
}
#private-message-win .message-min-box .talker-name{
	height:22px;
	line-height:22px;
	color: #0082CD;
	display:inline-block;
	position: absolute;
	left: 30px;
	top:0px;
	text-align:left;
	width:170px;
	_overflow: hidden;
	overflow:hidden;
}
#private-message-win .message-min-box:hover{
	background: #E0E0E0;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
#private-message-win .message-min-box.shar0{
	background: #d79999;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
#private-message-win .message-min-box:hover .max-icon{
	opacity:1;
	filter:alpha(opacity=100);
}
/******************私信end*********************************/

/****************************************************** new chart designer dialog******************************************/
#dialog_new_diagram .item-container{
	float:left;text-align:center;font-size:12px; color:#333;margin:10px 0px 0px 8px; width:132px;padding:5px 5px 0px 5px; height:170px;cursor: pointer;
}
#dialog_new_diagram .item-container:hover{
	background-color:#F0F0F0;
}
#dialog_new_diagram .item-container.template_selected{
	background-color:#63ABF7;color:#FFFFFF;
}
#dialog_new_diagram .item-container.template_selected:hover{
	background-color:#63ABF7;
}
#dialog_new_diagram .item-container div{
	border:1px solid #ccc; width:130px; height:130px;margin-bottom:5px;background:#ffffff;
}
#dialog_new_diagram .item-container div img{
	border:0px;width:130px; height:130px
}
#dialog_new_diagram .top-tip{
	height:28px;line-height:28px;padding-left:10px;background:#eeeeee;float:left;font-size:12px;font-family:Arial, Helvetica, sans-serif;
}
.template-category{
	width:100%; margin:0px;padding:0px; list-style:none
}
.template-category li{
	height:40px; line-height:40px;border-bottom:1px solid #CEDAE1;font-family:Arial, Helvetica, sans-serif;cursor:pointer;padding-left:8px;
}
.template-category li.current{
	background:url(images/designer/smooth_item-selected.png) no-repeat right center; color:#ffffff;border-bottom:0px;margin-right:-16px;
}
/****************************************************** new chart designer dialog**********END********************************/
/*feed back*/
#feedback_sendbtn{
	position:fixed;bottom:0px;right:-1px;
}
#feedback_sendContent{
	position:fixed;bottom:-300px;right:-310px;background:#FFFFFF;
	
}
#feedback_sendContent td{
	margin:0px;
	padding:0px;
}   
#feedback_sendContent h2{
    border-bottom: 1px solid #EEEEEE;
    color: #53637D;
    font-size: 15px;
    font-weight: bold;
    margin: 8px 0px 8px 8px;
    padding-bottom: 5px;
    padding-top: 2px;
    text-shadow: 0 1px 2px white;
}
/*gototop*/
.scrolltop{
	position: fixed;display:none;
	bottom: 60px;
	right: 20px;
	width: 51px;
	height: 55px;
	line-height: 40px;
	background: white;
	cursor: pointer;
	z-index:99999;
	background: url('/themes/default/images/icons/gotop.png') no-repeat;
}
.scrolltop:hover{
	background-position: 0px -110px;;
}

/*error-tip插件 start*/
.signin-error{
	position: absolute;
	left:0px;
}
.signin-error-tip{
	position: relative;
	padding: 5px 8px;
	margin-bottom: 13px;
	border: 1px solid #e3a198;
	border-radius: 3px;
	box-shadow: 1px 1px 5px #e3a198;
	display:inline-block;
	background-color: #fed1d1;
	color: #B8211D;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.signin-error-tip-arrow{
	border:8px solid transparent;
	position: absolute;
}
.signin-error-tip-arrow.right{
	border-left:8px solid #ed5459;
	right:-16px;
	top:6px;
}
.signin-error-tip-arrow.right1{
	border-left:8px solid #fed1d1;
	right:-15px;
	top:6px;
}

.signin-error-tip-arrow.left{
	border-right:8px solid #ed5459;
	left:-16px;
	top:6px;
}
.signin-error-tip-arrow.left1{
	border-right:8px solid #fed1d1;
	left:-15px;
	top:6px;
}

.signin-success{
	position: absolute;
	left:0px;
}
.signin-success-tip{
	position: relative;
	padding: 5px 8px;
	margin-bottom: 13px;
	border: 1px solid green;
	border-radius: 3px;
	box-shadow: 1px 1px 5px #D6E9C6;
	display:inline-block;
	background-color: #DFF0D8;
	color: #468847;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.signin-success-tip-arrow{
	border:8px solid transparent;
	position: absolute;
}
.signin-success-tip-arrow.right{
	border-left:8px solid green;
	right:-16px;
	top:6px;
}
.signin-success-tip-arrow.right1{
	border-left:8px solid #DFF0D8;
	right:-15px;
	top:6px;
}
.all_transition{
	 -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
.width_transition{
	 -webkit-transition: width linear 0.2s;
  -o-transition: width linear 0.2s;
  -moz-transition: width linear 0.2s;
  transition: width linear 0.2s;
}
.height_transition{
	 -webkit-transition: width linear 0.2s;
  -o-transition: width linear 0.2s;
  -moz-transition: width linear 0.2s;
  transition: width linear 0.2s;
}
.top_left_transition{
	 -webkit-transition: top linear 0.2s,left linear 0.2s;
  -o-transition: top linear 0.2s,left linear 0.2s;
  -moz-transition: top linear 0.2s,left linear 0.2s;
  transition: top linear 0.2s,left linear 0.2s;
}
/*error-tip插件 end*/