.my-toolbar {
    background : #f3f6f8;
}

.my-toolbar .x-btn {
    background : transparent !important;
    border     : 0 none !important;
}

.my-toolbar .icon{
    margin-top:2px;
}

.my-toolbar .x-btn-over .x-btn-icon-el {
    opacity : 0.8;
}

.my-toolbar .x-btn-icon-el {
    background-size : 20px 20px !important;
    opacity         : 0.4;
}

.icon-right { margin-top       : 2px !important; background-image : url(images/arrow-right.png); }

.icon-left { margin-top       : 3px !important; background-image : url(images/arrow-left.png); }

.icon-zoomin { background-image : url(images/zoom-in.png); }

.icon-zoomout { background-image : url(images/zoom-out.png); }

.icon-zoomfit { background-image : url(images/move.png); }

.icon-fullscreen { background-image : url(images/fullscreen-enter.png); }

.icon-collapseall { background-image : url(images/collapse.png); }

.icon-expandall { background-image : url(images/expand.png); }

.icon-criticalpath { background-image : url(images/hot.png); }

.icon-add { background-image : url(images/add.png); }

.icon-delete { background-image : url(images/delete.png)}

.icon-indent { background-image : url(images/indent.png)}

.icon-outdent { background-image : url(images/outdent.png)}

/* IE8 hacks */

.x-ie8 .my-toolbar .x-btn-icon-el {
    background-image : none !important;
}

.icon-right {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/arrow-right.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/arrow-right.png', sizingMethod='scale')";
}

.icon-left {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/arrow-left.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/arrow-left.png', sizingMethod='scale')";
}

.icon-zoomin {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/zoom-in.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/zoom-in.png', sizingMethod='scale')";
}

.icon-zoomout {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/zoom-out.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/zoom-out.png', sizingMethod='scale')";
}

.icon-zoomfit {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/move.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/move.png', sizingMethod='scale')";
}

.icon-fullscreen {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/fullscreen-enter.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/fullscreen-enter.png', sizingMethod='scale')";
}

.icon-collapseall {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/collapse.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/collapse.png', sizingMethod='scale')";
}

.icon-expandall {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/expand.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/expand.png', sizingMethod='scale')";
}

.icon-criticalpath {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/hot.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/hot.png', sizingMethod='scale')";
}

.icon-add {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/add.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/add.png', sizingMethod='scale')";
}

.icon-delete {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/delete.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/delete.png', sizingMethod='scale')";
}

.icon-indent {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/indent.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/indent.png', sizingMethod='scale')";
}

.icon-outdent {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/outdent.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/outdent.png', sizingMethod='scale')";
}
