.thumb{
    background: transparent;
    padding: 3px;
    padding-bottom: 0;
}

.x-quirks .thumb {
    padding-bottom: 3px;
}

.thumb img{
    height: 64px;
    width: 64px;
}
.thumb-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
    height : 120px;
}
.thumb-wrap span {
    
    display: block;
    overflow: hidden;
    text-align: center;
    width: 86px; /* for ie to ensure that the text is centered */
}

.x-item-over{
    border:1px solid #dddddd;
    background: #efefef;
    padding: 4px;
}

.x-item-selected{
    background: #ECFAF5;
    border:1px solid #17894B;
    padding: 4px;
}
.x-item-selected .thumb{
    background:transparent;
}

.loading-indicator {
    font-size:11px;
    background-image:url('../static/ext/extjs/resources/themes/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}

.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px solid;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#aefccf;
    border-color:#17894B;
}.ext-strict .ext-ie .x-tree .x-panel-bwrap{
    position:relative;
    overflow:hidden;
}